
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mainList{
  float: left;
  width: 95%;
  border: 3px solid grey;
  margin: 10px;
  padding: 30px;
}
.titleProduct{
   flex: 20%;
   float: left;
}
.childList{
  display: flex;
}
.imgProduct{
  flex: 5%;
}
.btnList{
  flex: 25%;
  float: right;
}
.ProductDescription{
  word-wrap: break-word;
  flex: 40%;
  width: 50px;
}
.img-fluid{
  height: 65%;
}
.maincointainer{
  margin: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
   
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.AddProductMain{
  margin: 7% 25%;
  width: 50%;
  padding: 60px;
  background-color: antiquewhite;
  border: 3px solid gray;
}